.ui-file-upload {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .label {
    font-size: 12px;
    font-weight: 500;
    color: var(--text-secondary);
  }

  .upload-box {
    border: 2px dashed var(--color-border);
    padding: 16px;
    text-align: center;
    cursor: pointer;
    border-radius: var( --radius-sm);
    transition: 0.2s ease;

    .icon {
        font-size: 16px;
    }

    &:hover {
      background: rgba(107, 70, 193, 0.05);
    }
  }

  .upload-text {
    font-weight: 500;
    color: #6b46c1;
  }

  .file-list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: var(--color-background);
      padding: 6px 10px;
      border-radius: 6px;
      font-size: 14px;

      button {
        background: none;
        border: none;
        cursor: pointer;
        color: var(--color-primary);
        font-weight: bold;
      }
    }
  }

  &.invalid .upload-box {
    border-color: var(--color-primary);
  }
}